* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #486989;
}

body {
  display: flex;
  justify-content: center;
  height: 600px;
  align-items: center;
  background-image: linear-gradient(to right, #d8aed3, #9182c4);
}

.container {
  height: 350px;
  width: 350px;
  background-color: #d8aed3;
  border: 3px solid #9182c4;
  border-radius: 5px;
  box-shadow: 10px 10px 5px #9182c4;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-size: 20px;
  padding-block: 2px;
}

.length {
  display: flex;
  justify-content: space-between;
  padding-block: 3px;
}

.box {
  display: flex;
  justify-content: space-between;
  margin-block: 2px;
}

.genPass {
  border: 2px solid #9182c4;
  padding: 3px;
  margin-block: 5px;
  font-size: 15px;
  background-color: #d8aed3;
}

.genPass:hover {
  color: black;
  background-color: #ebd9dd;
}

.inputBox {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

#passBox {
  width: 280px;
  outline: none;
}
